.title {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.88rem;
  font-weight: 450;
  letter-spacing: -1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hr {
  height: 4px;
  width: calc(100% - 3%);
  background-color: #202143;
  border: 0;
  margin: auto;
}

.state {
  margin: 0;
  padding: 10px 0;
  width: 10%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.num {
  margin: 0;
  padding: 10px 0;
  width: 5%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
  background-color: #f5f3fc;
}
