.nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 32px;
  padding-left: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  text-shadow: 2px 2px 2px #909090;
  box-shadow: 2px 2px 2px #909090;
}
